body {
  margin-top: 150px;
  margin-left: 30px;
}

.effect {
  border-style: solid;
  border-color: yellow;
  border-width: 10px;
  border-radius: 5% 10% 30% 85%;
}

.effect:hover {
  border-style: solid;
  border-color: yellow;
  border-width: 10px;
  border-radius: 25% 50%;
}
