body {
  margin-top: 100px;
  margin-left: 50px;
}

p {
  font-size: 30px;
  padding: 10px;
}

.effect {
  border-style: solid;
  border-color: blue;
  border-width: 10px;
}

.effect:hover {
  border-style: dotted;
  border-color: red;
  border-width: 20px;
  opacity: 50%;
}
