/* Styling Text */

p {
  font-size: 18px;
  padding: 5px;
}

h1 {
  font-size: 35px;
  padding: 5px;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "header header header"
    ". main ."
}

.grid-container > div {
  text-align: center;
}

/* Header Area */
.item1 {
  grid-area: header;
  background-color: #D4DCCD;
  padding: 15px;
}

.item1 > div {

}

/* Main Area (Cards) */
.item2 {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-evenly;
  grid-gap: 10px;
  padding: 10px;
  background-color: #FFE8E1;
}

/* Individual Cards */
.item2 > div {
  background-color: #6B717E;
  width: 100%;
  height: 100%;
  text-align: center;
}
