:root {
  --yellow: #ffc600;
  --black: #000000;
  --gray: #DADEDF;
  --darkgray: #7F7F7F;
}

html {
  /* border-box: add border and padding without increasing box-size */
  box-sizing: border-box;
  font-family: Tahoma;
  color: var(--black);
  margin: 10px;

}

/* inherit box-sizing from .html */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  font-size: 15px;
  margin: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
  "header header"
  "nav content"
  "footer footer"
}

.item {
  border: 5px solid var(--black);
  padding: 5px;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

ul {
  margin-left: 20px;
  list-style-type: square;
}
