body {
  margin-top: 100px;
  margin-left: 50px;
}

.cls-1{fill:#fff;}
.cls-2{fill:#fcfbfa;}
.cls-3{fill:#252526;}
.cls-3:hover{fill:yellow;}
.cls-4{fill:#e0e0e0;}
.cls-5{fill:#56555c;}



.effect {
  border-style: solid;
  border-color: gray;
  border-width: 10px;
  border-radius: 75%;
  opacity: 30%;
}

.effect:hover {
  border-style: solid;
  border-color: gray;
  border-width: 10px;
  border-radius: 10%;
  opacity: 100%;
  transition-delay: 1s;
}
